<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div style="font-style:italic; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <span><h1 style=text-align:center><p class="text-5xl"><a href="form.html"> RPM Bank</a></p></h1></span>
    </div>
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <script src="form.js"></script>
    <style>
			body {
				background: url("https://wallpapercave.com/wp/wp4465114.jpg");
        background-position: center;
        background-size: cover;
				background-repeat:no-repeat;
				background-attachment: scroll;
				font-family: Arial; 
				color: black;
			}
			</style>
</head>
<body>

  <section class="text-black body-font overflow-hidden">
    <div class="container px-5 py-20 mx-auto">
      <div class="-my-8 divide-y-2 divide-gray-100">
        <div class="py-8 flex flex-wrap md:flex-nowrap">
          <div class="md:flex-grow">
            <h2 class="text-4xl font-medium text-black title-font mb-2"><u>Online KYC verification</u></h2>
            <p class="leading-relaxed text-3xl">Due to unfortunate circumstances, verification of KYC cannot be done in person at your preferred branch of bank. Instead we can verify your KYC details through online mode. Please follow the following steps to ensure KYC verification.</p>
              
          </div>
        </div>
      </section>
<!--
  <div style=" font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
    <span><p class="leading-relaxed text-3xl text-left text-black py-5 mx-5">Due to unfortunate circumstances, verification of KYC cannot be done in person at your preferred branch of bank. Instead we can verify your KYC details through online mode. Please follow the following steps to ensure KYC verification.</p></span>
</div>-->
<section class="text-gray-700 body-font">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">1</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-black mb-1 text-3xl">Upload your documents.</h2>
          <p class="leading-relaxed text-2xl">Upload clear, scanned images in JPG format of your official government documents as instructed.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">2</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-black mb-1 text-3xl">Video KYC</h2>
          <p class="leading-relaxed text-2xl">To ensure the person uploading the documents is actually you, please follow the steps required for video KYC verification.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">3</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-black mb-1 text-3xl">OTP verification</h2>
          <p class="leading-relaxed text-2xl">An OTP will be sent to the mobile number you have registered with which must be submitted to finish the entire KYC process.</p>
        </div>
      </div>
    </div>

    <a href="/kyc"><button type="button" class="btn btn-primary btn-block">Click here to start your KYC verification process.</button></a>
    <!--<div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-indigo-500 text-white relative z-10 title-font font-medium text-sm">4</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <!-- <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-full inline-flex items-center justify-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg> 
        </div>
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Post-recovery details</h2>
          <p class="leading-relaxed">Mention all the cautionary steps you took to take care of your health after you had recovered from COVID-19.</p>
        </div>
      </div>-->
    </div>
  </div>
</section>
</div><!-- btn -->
</div><!-- group -->
</div><!-- form-group -->
     </div>
   </div>
 </div>
 <!--<div class="container">
   <div class="row">
     <div class="col-sm-offset-2 col-sm-8"><br><br>
       <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your Driving License:</b></h5>
 <div class="form-group">
 <div class="input-group">
   <input type="text" class="form-control" readonly>
 <div class="input-group-btn">
   <span class="fileUpload btn btn-success">
       <span class="upl" id="upload">Upload file</span>
       <input type="file" class="upload up" id="up" onchange="readURL(this);" />
     </span><!-- btn-orange -->
  </div><!-- btn -->
  </div><!-- group -->
  </div><!-- form-group -->
      <!-- </div>
     </div>
   </div>   
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8"><br><br>
        <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your Aadhar Card:</b></h5>
  <div class="form-group">
  <div class="input-group">
    <input type="text" class="form-control" readonly>
  <div class="input-group-btn">
    <span class="fileUpload btn btn-success">
        <span class="upl" id="upload">Upload file</span>
        <input type="file" class="upload up" id="up" onchange="readURL(this);" />
      </span><!-- btn-orange -->
   <!-- </div><!-- btn -->
   <!--</div><!-- group -->
   <!--</div><!-- form-group -->
       <!-- </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8"><br><br>
          <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your PAN Card:</b></h5>
    <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" readonly>
    <div class="input-group-btn">
      <span class="fileUpload btn btn-success">
          <span class="upl" id="upload">Upload file</span>
          <input type="file" class="upload up" id="up" onchange="readURL(this);" />
        </span><!-- btn-orange -->
     <!--</div><!-- btn -->
     <!--</div><!-- group -->
     <!--</div><!-- form-group -->
         <!-- </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-8"><br><br>
            <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your Driving License:</b></h5>
      <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" readonly>
      <div class="input-group-btn">
        <span class="fileUpload btn btn-success">
            <span class="upl" id="upload">Upload file</span>
            <input type="file" class="upload up" id="up" onchange="readURL(this);" />
          </span><!-- btn-orange -->
      <!-- </div><!-- btn -->
      <!-- </div><!-- group -->
      <!-- </div><!-- form-group -->
       <!--     </div>
          </div>
        </div>  -->
      
</body>
</html>