{% extends 'home.html' %}
{% block content %}
    <section class="text-black body-font overflow-hidden">
        <div class="container px-5 py-4 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:flex-grow">
                <p class="leading-relaxed text-5xl"><u>Step 1: Upload official documents.</u></p>
                <p class="leading-relaxed text-3xl">Uploading of Aadhar Card is mandatory.</p>
                <p class="leading-relaxed text-3xl">Extra documents like your drivers license and pan card may be uploaded if you wish.</p>
              </div>
            </div>
          </section>
    <form action ="/kyc" method="POST" enctype="multipart/form-data">
       <div class="container">
         <div class="row">
           <div class="col-sm-offset-2 col-sm-8"><br><br>
             <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your Aadhar Card:</b></h5>

       <div class="form-group">
       <div class="input-group">
          <input type="text" class="form-control" readonly>
       <div class="input-group-btn">
         <span class="fileUpload btn btn-success">
             <span class="upl" id="upload">Upload file</span>
             <input type="file" class="upload up" name="aadhar" id="up" onchange="readURL(this);" />
           </span><!-- btn-orange -->
        </div><!-- btn -->
        </div><!-- group -->
        </div><!-- form-group -->
             </div>
           </div>
         </div>
         <div class="container">
           <div class="row">
             <div class="col-sm-offset-2 col-sm-8"><br><br>
               <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your Recent Passport size photo:</b></h5>
         <div class="form-group">
         <div class="input-group">
           <input type="text" class="form-control" readonly>
         <div class="input-group-btn">
           <span class="fileUpload btn btn-success">
               <span class="upl" id="upload">Upload file</span>
               <input type="file" class="upload up" name ="passport" id="up" onchange="readURL(this);" />
             </span><!-- btn-orange -->
          </div><!-- btn -->
          </div><!-- group -->
          </div><!-- form-group -->
               </div>
             </div>
           </div>
         <div class="container">
           <div class="row">
             <div class="col-sm-offset-2 col-sm-8"><br><br>
               <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your PAN Card:</b></h5>
         <div class="form-group">
         <div class="input-group">
           <input type="text" class="form-control" readonly>
         <div class="input-group-btn">
           <span class="fileUpload btn btn-success">
               <span class="upl" id="upload">Upload file</span>
               <input type="file" class="upload up" name ="pan" id="up" onchange="readURL(this);" />
             </span><!-- btn-orange -->
          </div><!-- btn -->
          </div><!-- group -->
          </div><!-- form-group -->
               </div>
             </div>
           </div>
           <div class="container">
             <div class="row">
               <div class="col-sm-offset-2 col-sm-8"><br><br>
                 <h5 style="background-color:rgb(255, 255, 255); font-size:100%;" ><b>Upload your Driving License:</b></h5>
           <div class="form-group">
           <div class="input-group">
              <input type="text" class="form-control" readonly>
           <div class="input-group-btn">
             <span class="fileUpload btn btn-success">
                 <span class="upl" id="upload">Upload file</span>
                 <input type="file" class="upload up" name ="dl" id="up" onchange="readURL(this);" />
               </span><!-- btn-orange -->
            </div><!-- btn -->
            </div><!-- group -->
            </div><!-- form-group -->
                 </div>
               </div>
             </div>  
             <button type="submit" class="btn btn-primary btn-block">Continue to OTP verification.</button>
</form>
                {% if context != '' %}
                <h5>{{context}}</h5>
                {% endif %}
{% endblock %}
</html>
