{% extends 'home.html' %}
    {% block content %}
    <section class="text-black body-font overflow-hidden">
        <div class="container px-5 py-4 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:flex-grow">
                <p class="leading-relaxed text-5xl"><u>Step 3: Video KYC</u></p>
                <p class="leading-relaxed text-3xl">Please ensure the webcam on your device if functioning before starting with video KYC.</p>
                <p class="leading-relaxed text-3xl">The video KYC process requirs you to position your face in front of the webcam for ten seconds.</p>
                <p class="leading-relaxed text-3xl">We request you to begin with the video KYC process with ample time in hand because it will take about five minutes to complete</p>
                <form action="/kyc_video" method="POST" enctype="multipart/form-data">
                <a href = '/loading'>  <button type="submit" class="btn btn-primary btn-block">Start.</button><a>
                </form>
                {% if context != '' %}
                <h5 class="font-medium title-font text-black mb-1 text-3xl">{{context}}</h5>
                {% endif %}
             
              </div>
            </div>
          </section>
       {% endblock %}

</html>